* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav .nav-link{
    color: black !important;
}
nav .nav-link:hover{
    color: red !important;
    transition: all .3s ease;
}
h1{
    font-family: 'IBM Plex Serif', serif;
}
h5{
    font-family: 'IBM Plex Serif', serif;
}
h6{
    font-family: 'IBM Plex Serif', serif;
}
.hero .carousel-item {
    width: 100% !important;
    height: 85vh;
}

.hero img {
    width: 100%;
    height: 600px;
}

.section-1 .card img {
    width: 100%;
    height: 200px;
}

.section-2 .card img {
    width: 100%;
    height: 250px;
}
.section-2 .popular-post img{
    width: 5rem;
    height: 4rem;
}
.social-media .facebook{
    color: #1877f2;
}
.social-media .instagram{
    color: #bc2a8d;
}
.social-media .linkedin{
    color: #0a66c2;
}
.social-media .youtube{
    color: #ff0000;
}

/* Media Query Start */
@media (min-width: 320px) {
    .social-media{
        padding-left: 70px;
        font-size: 12px;
    } 
}
@media (min-width: 350px) {
    .social-media{
        padding-left: 80px;
        font-size: 15px;
    } 
}
@media (min-width: 375px) {
    .social-media{
        padding-left: 85px;
        font-size: 15px;
    } 
}
@media (min-width: 410px) {
    .social-media{
        padding-left: 100px;
        font-size: 15px;
    } 
}
@media (min-width: 425px) {
    .social-media{
        padding-left: 105px;
        font-size: 15px;
    } 
}
@media (min-width: 576px) {
    .social-media{
        padding-left: 20px;
    } 
}

@media (min-width: 768px) {
 .social-media{
     padding-left: 10px;
 }   
}

@media (min-width: 992px) {
    .social-media{
        padding-left: 50px;
    } 
}

@media (min-width: 1200px) {
    .social-media{
        padding-left: 85px;
        font-size: 15px;
    } 
}

@media (min-width: 1400px) {
    .social-media{
        padding-left: 100px;
        font-size: 20px;
    } 
}

/* Media Query End */